@model QuanLySachT.Models.DaiLy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DaiLy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaiLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDaiLy }) |
    @Html.ActionLink("Back to List", "Index")
</p>
