@model QuanLySachT.Models.CT_PhieuXuat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CT_PhieuXuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonGiaXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuXuat.NguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuXuat.NguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
