@model IEnumerable<QuanLySachT.Models.PhieuNhap>

@{
    ViewBag.Title = "Index";
}

<h2>Phiếu nhập</h2>

<p>
    @Html.ActionLink("Tạo Phiếu", "Create")
</p>
<p>
    @Html.ActionLink("Tạo Chi Tiết Phiếu", "Index", "CT_PhieuNhap")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaPhieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiGiaoSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGio)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.TinhTrang == true)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiGiaoSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGio)
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaPhieu }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaPhieu }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaPhieu })
        </td>
    </tr>
    }
}

</table>
