@model QuanLySachT.Models.PhieuNhap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NguoiGiaoSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiGiaoSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>-->

        <!--<dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>-->

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
