@model IEnumerable<QuanLySachT.Models.BaoCaoBanHang>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayGio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaiLy.TenDaiLy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaiLy.TenDaiLy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBC })
        </td>
    </tr>
}

</table>
